/* line 5, ../sass/english.scss */
.area--English {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 12, ../sass/english.scss */
.area-table--English {
  width: 60rem;
  margin: 1rem 0 2rem 0;
}

/* line 17, ../sass/english.scss */
.table--EnglishList {
  width: 100%;
}
/* line 19, ../sass/english.scss */
.table--EnglishList th {
  background-color: #263238;
  color: rgba(255, 255, 255, 0.9);
  border: solid 1px rgba(180, 180, 180, 0.95);
}
/* line 24, ../sass/english.scss */
.table--EnglishList td {
  border: solid 1px rgba(0, 0, 0, 0.55);
}
/* line 28, ../sass/english.scss */
.table--EnglishList tr td:nth-child(1) {
  text-align: initial;
}
/* line 33, ../sass/english.scss */
.table--EnglishList tr:nth-child(odd) {
  background: #69f0ae;
  border: solid 1px rgba(255, 255, 255, 0.95);
}
