@charset "UTF-8";

$red:#ff5252;
$pink:#ff4081;
$purple:#e040fb;
$depp_purple:#7c4dff;
$indigo:#536dfe;
$blue:#448aff;
$light_blue:#40c4ff;
$cyan:#18ffff;
$teal:#64ffda;
$green:#69f0ae;
$light_green:#b2ff59;
$lime:#eeff41;
$yellow:#ffff00;
$amber:#ffd740;
$orange:#ffab40;
$deep_orange:#ff6e40;

$font_black:rgba(0,0,0,0.75);
$font_white:rgba(255,255,255,0.9);
$font_gray:rgba(100,100,100,0.75)